# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual env
venv/
.env/
.envrc

# Jupyter and notebooks
.ipynb_checkpoints/
notebooks

# Data
data/*
!data/.gitkeep

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Parquet/large files
*.parquet
*.feather